<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.myStickers}">내가 보낸 스티커 목록</h2>
    </div>

    <div class="row">

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/forest/myPage}'|"
                    th:text="#{page.myPages}">
            </button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/}'|"
                    th:text="#{page.main}">
            </button>
        </div>

        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/forest/add}'|"
                    type="button" th:text="#{page.addTree}">게시글 쓰기</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.sticker.subject}">스티커 제목</th>
                <th th:text="#{label.sticker.message}">내용</th>
                <th th:text="#{label.sticker.to}">받는 이</th>
<!--                <th th:text="#{label.sticker.post}">게시글 제목</th>-->
<!--                <th th:text="#{label.sticker.postInfo}">게시글 내용</th>-->

            </tr>
            </thead>
            <tbody>
            <tr th:each="sticker : ${stickers}">
                <td th:text="${sticker.subject}">스티커 제목</a></td>
                <td><a href="sticker.html" th:href="@{|/sticker/${sticker.stickerKey}/edit|}" th:text="${sticker.message}">내용</a></td>
                <td th:text="${sticker.toMemberKey}">학생 이름</td>
<!--                <td th:text="${tree.title}">10000</td>-->
<!--                <td th:text="${tree.description}">10</td>-->
            </tr>
            </tbody>



        </table>
    </div>

</div> <!-- /container -->

</body>
</html>